---
import { address, email, phone, whatsapp } from "~/data/config";
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import FormContact from "~/components/forms/Contact.astro";
---

<Layout pageTitle="Contacto | Thermohidráulica">
  <Section class:list={"bg-gray-50"}>
    <Container>
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="pb-20 pt-24 sm:pt-32 lg:static lg:px-8">
          <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
            <Heading>
              <h1 class="h2" slot="heading-title">Contáctanos</h1>
              <p slot="heading-content">
                Nos encantaría saber de ti. Completa el envianos un email para
                ponerte en contacto con nosotros.
              </p>
            </Heading>
            <dl class="mt-10 space-y-4 text-base">
              {
                address && (
                  <div class="flex gap-x-4">
                    <dt class="flex-none">
                      <span class="sr-only">Address</span>
                      <svg
                        class="size-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        data-slot="icon"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z"
                        />
                      </svg>
                    </dt>
                    <dd>
                      {address.city}, {address.state}, {address.country}
                    </dd>
                  </div>
                )
              }
              {
                phone && (
                  <div class="flex gap-x-4">
                    <dt class="flex-none">
                      <span class="sr-only">Telephone</span>
                      <svg
                        class="size-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        data-slot="icon"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
                        />
                      </svg>
                    </dt>
                    <dd>
                      <a class="hover:" href={`${phone.href}`}>
                        {phone.label}
                      </a>
                    </dd>
                  </div>
                )
              }
              {
                whatsapp && (
                  <div class="flex gap-x-4">
                    <dt class="flex-none">
                      <span class="sr-only">WhatsApp</span>
                      <svg
                        class="size-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        aria-hidden="true"
                        data-slot="icon"
                      >
                        <path
                          fill="currentColor"
                          d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01A9.82 9.82 0 0 0 12.04 2m.01 1.67c2.2 0 4.26.86 5.82 2.42a8.23 8.23 0 0 1 2.41 5.83c0 4.54-3.7 8.23-8.24 8.23c-1.48 0-2.93-.39-4.19-1.15l-.3-.17l-3.12.82l.83-3.04l-.2-.32a8.2 8.2 0 0 1-1.26-4.38c.01-4.54 3.7-8.24 8.25-8.24M8.53 7.33c-.16 0-.43.06-.66.31c-.22.25-.87.86-.87 2.07c0 1.22.89 2.39 1 2.56c.14.17 1.76 2.67 4.25 3.73c.59.27 1.05.42 1.41.53c.59.19 1.13.16 1.56.1c.48-.07 1.46-.6 1.67-1.18s.21-1.07.15-1.18c-.07-.1-.23-.16-.48-.27c-.25-.14-1.47-.74-1.69-.82c-.23-.08-.37-.12-.56.12c-.16.25-.64.81-.78.97c-.15.17-.29.19-.53.07c-.26-.13-1.06-.39-2-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.12-.24-.01-.39.11-.5c.11-.11.27-.29.37-.44c.13-.14.17-.25.25-.41c.08-.17.04-.31-.02-.43c-.06-.11-.56-1.35-.77-1.84c-.2-.48-.4-.42-.56-.43c-.14 0-.3-.01-.47-.01"
                        />
                      </svg>
                    </dt>
                    <dd>
                      <a class="hover:text-gray-800" href={`${whatsapp.href}`}>
                        {whatsapp.label}
                      </a>
                    </dd>
                  </div>
                )
              }
              {
                email && (
                  <div class="flex gap-x-4">
                    <dt class="flex-none">
                      <span class="sr-only">Email</span>
                      <svg
                        class="size-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                        data-slot="icon"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                        />
                      </svg>
                    </dt>
                    <dd>
                      <a class="hover:text-gray-800" href={`${email.href}`}>
                        {email.label}
                      </a>
                    </dd>
                  </div>
                )
              }
            </dl>
          </div>
        </div>
        <div class="bg-white px-6 py-6 rounded-lg shadow">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50533.525920121676!2d-75.6141535!3d6.176980599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46822e075e9cd5%3A0x6dd21cc8445c3d42!2sItag%C3%BCi%2C%20Antioquia!5e1!3m2!1ses-419!2sco!4v1762316335110!5m2!1ses-419!2sco"
            style="border:0; width: 100%; height: 100%;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </Container>
  </Section>
</Layout>
